  <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
    <div class="card">
      <!-- IMAGE -->
      <label for="inputImage" class="card-img-top">
        <img class="card-img" [src]="imagePreviewUrl || product.imageUrl || product.imagePath" [alt]="product.name" style="border-radius: 3px;">
      </label>
      <input type="file" formControlName="image" id="inputImage" class="form-control-file" accept="image/*" style="display: none;" (change)="onImagePreview($event)">

      <!-- NAME AND PRICE -->
      <div class="card-body">
        <input type="text" id="inputTitle" class="card-text highlight form-control-plaintext" formControlName="name" placeholder="Nome">
        <input type="number" class="card-text highlight form-control-plaintext" id="inputPrice" currencyMask type="tel" [options]="{prefix: 'R$ ', thousands:'.', decimal: ','}" formControlName="price" placeholder="R$ 0,00" min="0">
      </div>
    </div>


    <!-- PRODUCTION INPUT -->
    <div class="production" style="margin: 20px 0;">
      <img src="../../../../../assets/utilities/watch.svg" alt="relógio" style="margin-right: 5px;">
      <input type="number" id="inputProdTime" class="form-control-sm" formControlName="productionTime" min="1" max="60" placeholder="10">
      <select name="productionTimeUnit" class="custom-select-sm" formControlName="productionTimeUnit">
        <option value="min">min</option>
        <option value="hr">h</option>
        <option value="dia">dia</option>
      </select>
    </div>


    <!-- INGREDIENTS -->
    <div class="ingredients">
      <img src="../../../../assets/utilities/ingredientList.svg" alt="ingredient list">
      Ingredientes:

      <ol class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let ingredient of ingredientList">
          <button type="button" class="btn btn-danger ingredient" (click)="delIngredient(ingredient)">
            <img src="../../../../../assets/utilities/trash_bin_white.svg" alt="deletar ingrediente">
          </button>
          {{ ingredient.name }}
          {{ ingredient.amount }}
          {{ ingredient.measure }}
        </li>

        <!-- NEW INGREDIENT INPUT -->
        <li class="list-group-item" [formGroup]="addIngredientForm">
          <button type="button" class="btn btn-success ingredient" style="margin-right: 5px;" (click)="onAddIngredient()">
            <img src="../../../../../assets/utilities/add.svg" alt="adicionar ingrediente">
          </button>

          <input type="text" class="form-control-sm" formControlName="name" placeholder="Ingrediente">

          <input type="number" min="1" max="999" class="form-control-sm" formControlName="amount" placeholder="500">
          <select name="measure" id="measure" class="custom-select-sm" formControlName="measure">
            <option value="g">g</option>
            <option value="kg">Kg</option>
            <option value="ml">ml</option>
            <option value="l">L</option>
          </select>
        </li>
      </ol>
    </div>



    <!-- FINISH BUTTONS -->
    <div class="line">
      <div *ngIf="productOnUpdate" class="buttons">
        <div class="cancel" (click)="onCancelFormChanges(true)">
          <button class="btn btn-danger desktop">Descartar</button>
          <button class="btn btn-danger mobile"><img src="../../../../../assets/utilities/cancel_white.svg" alt="descartar"></button>
        </div>

        <div class="save">
          <button class="btn btn-success desktop" type="button" [disabled]="!addProductForm.valid || ingredientList.length < 1" (click)="onUpdateProduct()">Salvar</button>
          <button class="btn btn-success mobile" type="button" [disabled]="!addProductForm.valid || ingredientList.length < 1" (click)="onUpdateProduct()"><img src="../../../../../assets/utilities/confirm_white.svg" alt="save"></button>
        </div>
      </div>
    </div>

    <!-- FINISH ADDING BUTTONS -->
    <div *ngIf="!productOnUpdate" class="buttons">
      <div class="cancel" (click)="onCancelFormChanges()">
        <button type="button" class="btn btn-danger desktop">Cancelar</button>
        <button type="button" class="btn btn-danger mobile"><img src="../../../../../assets/utilities/cancel_white.svg" alt="cancel"></button>
      </div>

      <div class="save">
        <button class="btn btn-success desktop" type="submit" [disabled]="!addProductForm.valid || ingredientList.length < 1">Adicionar</button>
        <button class="btn btn-success mobile" type="submit" [disabled]="!addProductForm.valid || ingredientList.length < 1"><img src="../../../../../assets/utilities/save_white.svg" alt="save"></button>
      </div>
    </div>
  </form>



<app-confirm-modal
  modalTitle="Alterações pendentes"
  modalBodyText="Oops.. Tem certeza que quer descartar suas alterações?"
  modalCloseButtonText="Descartar"
  modalConfirmButtonText="Continuar editando"
  (closeModal)="onCancelFormChanges()">
</app-confirm-modal>
<button style="display: none;" type="button" data-toggle="modal" data-target="#confirmModal" #openConfirmModal></button>
