<footer class="footer page-footer font-small bottom-0">

  <div class="telefone">
    <a href="https://wa.me/5513997717821/?tenho uma dúvida sobre baguete" target="_blank">
      <img src="../../assets/utilities/whatsapp.svg" alt="whatsapp icon" style="float: left;">
      <span class="desktop telefone can-select">(13) 997717821</span>
    </a>
  </div>

  <div class="footer-copyright text-center py-3">
    <span class="footer-copyright">Copyright © 2020</span>
  </div>

  <div>
    <a href="https://www.facebook.com/massasvenezasantos" target="_blank"><img src="../../assets/utilities/facebook.svg" alt="facebook icon"></a>
    <a href="https://www.instagram.com/massas.veneza" target="_blank"><img src="../../assets/utilities/instagram.png" alt="instagram icon"></a>
  </div>

</footer>



<!-- <div>
  <span class="desktop">Horário de Funcionamento: Segunda à Sábado 10h às 19h e Domingos 10h às 16h</span>
  <span class="desktop can-select">Telefone: (13) 3224-5091 | (13) 3233-2375</span>
  <span class="footer-copyright">Copyright ©2020 Todos os direitos reservados</span>
</div> -->
