<footer class="footer fixed-bottom">
  <div class="row h-100">
    <div class="col-3 my-auto d-flex justify-content-center">
      <a href="https://wa.me/5513997717821/" target="_blank">
        <img src="../../assets/utilities/whatsapp.svg" alt="whatsapp icon" style="float: left;">
        <span class="desktop can-select text-muted">(13) 997717821</span>
      </a>
    </div>
    <div class="col-6 my-auto d-flex justify-content-center">
      <div class="footer-copyright text-center py-3 text-muted">Copyright © 2020</div>
    </div>
    <div class="col-3 my-auto d-flex justify-content-center">
      <a href="https://www.facebook.com/massasvenezasantos" target="_blank"><img src="../../assets/utilities/facebook.svg" alt="facebook icon"></a>
      <a href="https://www.instagram.com/massas.veneza" target="_blank"><img src="../../assets/utilities/instagram.png" alt="instagram icon"></a>
    </div>
  </div>
</footer>



<!-- <div>
  <span class="desktop">Horário de Funcionamento: Segunda à Sábado 10h às 19h e Domingos 10h às 16h</span>
  <span class="desktop can-select">Telefone: (13) 3224-5091 | (13) 3233-2375</span>
  <span class="footer-copyright">Copyright ©2020 Todos os direitos reservados</span>
</div> -->
