.breadcrumb {
  background-color: transparent;
  margin: 5px 30px;
  font-size: 1rem;
}


.breadcrumb span, .breadcrumb img {
  margin: 0 5px;
}


.windows {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}



@media only screen and (max-width: 749px) {
  .breadcrumb {
    margin: 15px 10px;
    padding: 0;
  }

  .windows {
    height: 70vh;
    /* display: grid; */
    /* grid-template-columns: 0.5fr 2fr; */
  }
}


@media only screen and (min-width: 750px) and (max-width: 1199px) {
  .breadcrumb {
    margin: 10px;
  }
}
