<app-corousel></app-corousel>

<div class="container">
  <a class="card" href="cardapio">
    <img src="../../assets/utilities/menu.png" alt="Card image cap">
    <span class="card-text desktop">Cardápio</span>
  </a>
  <a class="card" href="carrinho">
    <img src="../../assets/utilities/cart.png" alt="Card image cap">
    <span class="card-text desktop">Meu carrinho</span>
  </a>
  <a class="card" href="https://wa.me/5513997717821" target="_blank">
    <img src="../../assets/utilities/whatsapp.png" alt="Card image cap">
    <span class="card-text desktop">Atendimento Whatsapp</span>
  </a>
</div>

<app-footer></app-footer>
