<app-corousel></app-corousel>

<div class="container">
  <div class="row justify-content-around">
    <div class="col">
      <a class="card" href="cardapio">
        <img src="../../assets/utilities/menu.png" alt="cardápios">
        <span class="card-text desktop">Cardápio</span>
      </a>
    </div>
    <div class="col">
      <a class="card" href="carrinho">
        <img src="../../assets/utilities/cart.png" alt="Carrinho">
        <span class="card-text desktop">Meu carrinho</span>
      </a>
    </div>
    <div class="col">
      <a class="card" href="https://wa.me/5513997717821" target="_blank">
        <img src="../../assets/utilities/whatsapp.png" alt="whatsapp">
        <span class="card-text desktop">Atendimento Whatsapp</span>
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
